
<div style="text-align:center;">

<%= button_to "Users", users_path, method: :get %>
<br>
<%= button_to "Tweets", tweets_path, method: :get %>
<br>
<%= button_to "Logout", logout_path, method: :delete %>

</div>